/*
 * 
 * Copyright (c) 2001-2002. Department of Family Medicine, McMaster University. All Rights Reserved. *
 * This software is published under the GPL GNU General Public License. 
 * This program is free software; you can redistribute it and/or 
 * modify it under the terms of the GNU General Public License 
 * as published by the Free Software Foundation; either version 2 
 * of the License, or (at your option) any later version. * 
 * This program is distributed in the hope that it will be useful, 
 * but WITHOUT ANY WARRANTY; without even the implied warranty of 
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the 
 * GNU General Public License for more details. * * You should have received a copy of the GNU General Public License 
 * along with this program; if not, write to the Free Software 
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA. * 
 * 
 * <OSCAR TEAM>
 * 
 * This software was written for the 
 * Department of Family Medicine 
 * McMaster University 
 * Hamilton 
 * Ontario, Canada 
 */
body td {
     font-weight:bold;
     font-family:"Arial";
}

A.orange {
	text-decoration: none;
	font-weight: bold;
	color: #9966CC;
}

A.orange:Hover {
	text-decoration: none;
	color: red;
}

A.black {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

A.black:Hover {
	text-decoration: none;
	color: red;
}

A {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

A:Hover {
	text-decoration: none;
	color: red;
}

input,select,textarea {
	font-size: 11px;
	background-color: #F4EaD7;
	border: 1px solid #0097cf;
}

td {
	font-family: "Arial";
	font-size: 12px;
}

hr {
	color: orange;
}

p {
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 0px;
}

.adhour {
	font-family: "Arial";
	font-size: 12px;
	color: white;
}

.small {
	margin-top: 15px;
	margin-left: 100px;
	margin-right: 140px;
	font-family: "Arial Black";
	font-size: 9px;
	color: #00408f;
}

.Monthappt {
	font-family: "Arial Black";
	font-size: 8px;
	color: black;
}

.title {
	font-family: "Times New Roman";
	font-size: 14px;
	color: black;
}

.text3 {
	background: ivory;
	font-size: 12px;
	font-family: "Arial";
}

.date {
	font-family: "Times New Roman";
	font-size: 16px;
	color: red;
	background: yellow;
}

.datepname {
	font-family: "Times New Roman";
	font-size: 12px;
}

.dateAppointment {
        font-weight:bold;
        font-family: "Times New Roman";
        font-size: 14px;
}

.datephour {
	font-family: "Times New Roman";
	font-size: 12px;
	color: brown;
}

.datepreason {
	font-family: "Times New Roman";
	font-size: 12px;
	color: green;
}

.tabalert {
	color: red;
}

#navlist{
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

#navlist li {
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    padding-left: 2.5px;
    padding-right: 2.5px;
    display: inline;
}

#navlist li:hover { color: #fff; background-color: #486ebd; }
#navlist li a:hover { color: #fff; background-color: #486ebd; }
#navlist #logoutMobile { display:none; }

.reason {
    margin-left: 2px;
    font-style: italic;
}

#providerSchedule, #providerSchedule td {
    border-collapse: collapse;
    border: 2px ridge #777777;
}
#providerSchedule td.noGrid { border:none; }

.scheduleTime00, .scheduleTimeNot00{
    width:5%;
}
.scheduleTime00 { background-color: #3EA4E1; }
.scheduleTimeNot00 { background-color: #00A488; }

#ivoryBar td {
    border-top: 1px solid #c0c0c0;
}

.dropdown {
	display: inline-block !important;
	position: relative;
}

.dashboardDropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dashboardDropdown a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
	  padding:2px 5px;
}

.dropdown:hover .dashboardDropdown {
    display: block;
}

#oscar_new_msg .tabalert sup {
	color: silver;
}

#integratorMessageCount {
	color: #bf6cf7 !important;
	font-weight: bold !important;
}

#demographicMessageCount, #totalMessageCount {
	color:red !important;
}

@media print {
 .noprint {display:none !important;}
}